*{
    color: #fff;
    margin: 0;
}
body{
    font-size: 0.8rem;
    background-image: url(../img/bg.png);
    background-size: cover;
}
/* =====================================
    typography 
    */




/* ============================================
    layouts
     */
header{
    padding: 1.8rem 0;
}
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container button{
    padding:0.45rem 1.3rem;
    font-weight: 700;
    font-size: .7rem;
    background-color: transparent;
    border: .1rem solid #fff;
    border-radius: 7px;
}
.container img{
    width: 4.5rem;
}





/* main-container */
.main-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.section-a{
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}
.section-a i{
    color: #cacaca;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    width: 1.5625rem;
    height: 1.5625rem;
}
.hero-img{
    width: 30rem;
    object-fit: cover;
}






/* navigation */
nav{
    width: 300px;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
nav a{
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    font-family: roboto, sans-serif;
}





/* main-content */
.main-content h1{
    font-family: sans-serif;
    font-size: 3rem;
}
.para2{
    font-size: .8rem;
    font-family: sans-serif;
    color: #E6ECF2;
    margin-top: 2rem;
}
.para1{
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
    color: #E6ECF2;
}




/* price section */
.price-section{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.price-section button{
    font-weight: 700;
    font-family: sans-serif;
    padding: .5rem 1rem;
    background-color: #A88152;
    border: 0;
    border-radius: 5px;
}
.price{
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 600;
    border-right: 1px solid #fff;
}
.size{
    padding-left: 1rem;
    color: #856150;
}




/* animation */
nav a:hover{
    color: #C8A47B;
    text-decoration: underline;
}
.container button:hover{
    background-color: #C8A47B;
    border-color: #C8A47B;
}
.section-a i:hover{
    font-size: 1.5rem;
    color: #fff;
}

.price-section button:hover{
    background-color: #884426;
}
*{
    transition: all 100ms linear;
}






/* ===========================================
    media queries 
    */
@media(max-width:800px){
    nav{
        display: none;
    }
    .section-a{
        display: none;
    }
    .main-container{
        margin-top: 1rem;
        flex-direction: column;
    }
    .main-container img{
        width: 100%;
        object-fit: cover;
    }
}
@media(max-width:400px){
    .price-section{
        display: grid;
        grid-template: repeat(2,1fr)/repeat(2,1fr);
        row-gap: 5px;
    }
    .price-section button{
        grid-row: 2/3;
        grid-column: 1/3;
    }
}
